/* Write your CSS code here */


@media (max-width : 768px){
    .background-container{
        font-family: Roboto;
        margin-top: 12px;
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .username-input-container{
        
        width : 90%;
    }
    
    .password-input-container{
        width : 90%;
    }
    .interface-imgs-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .submit-form{
        display: flex;
        flex-direction: column;
        
        align-items: center;
       
    }
    .website-login-img-small{
        
        width : 90%;
        margin-bottom: 30px;
    }
    
    .website-login-img-large{
        display: none;
    }
    .login-container{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    .username{
        align-self: flex-start;
        
       
    }
    .password{
        align-self : flex-start;
       
        
    }
    .website-logo-img{
    
    width : 60%;
    margin-bottom: 30px;
    }
    .username-input{
        border : none;
        cursor : pointer;
        outline : none;
        background-color: #d7dfe9;
        padding : 10px;
        
        width : 100%;
        margin-bottom: 10px;
        
    }
    .password-input{
        border : none;
        cursor : pointer;
        outline : none;
        background-color:#d7dfe9;
        padding : 10px;
        
        width : 100%;
        margin-bottom: 10px;
        
    }
     
    label{
        font-size: 12px;
        font-weight: bold;
        color : #1e293b;
        
    }
    
    .login-btn{
        font-size: 12px;
        width : 90%;
        margin-top: 12px;
        
        background-color: #0967d2;
        padding : 12px;
        border : none;
        cursor : pointer;
        outline : none;
        border-radius: 6px;
        color : #ffffff;
    }

    .website-login-img-large{
        height : 70px;
        width : 120px;
        
    }
}


@media (min-width : 768px){
    .website-login-img-small{
        display: none;
    }
    .background-container{
        font-family: Roboto;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .website-login-img-large{
        
        margin-left: 10%;
        width: 32% ;
    }
    .login-container{
        
        display: flex;
        flex-direction: column;
        margin-left: 15%;
        width : 60%;
        
    }
    
    .website-logo-img{
       
        width : 30%;
    }
    .interface-imgs-container{
        margin: auto;
        width : 80%;
        
    }
    label{
        font-size: 10px;
        font-weight: bold;
        color : #1e293b;
       
    }
    .username-input{
        border : none;
        cursor : pointer;
        outline : none;
        background-color: #d7dfe9;
        padding : 12px;
        font-size: 12px;
        width : 50%;
        margin-bottom: 12px;
    }

    .password-input{
        border : none;
        cursor : pointer;
        outline : none;
        background-color:#d7dfe9;
        padding : 12px;
        font-size: 12px;
        width : 50%;
        
    }


    .login-btn{
        margin-top: 12px;
        font-size: 12px;
        width : 50%;
        background-color: #0967d2;
        padding : 12px;
        border : none;
        cursor : pointer;
        outline : none;
        border-radius: 6px;
        color : #ffffff;
        
    }
}